<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar>Cadastro</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Nome Completo">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="E-mail">
              </mat-form-field>              

              <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="CPF">
              </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput placeholder="Nome de usuario">
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="password" placeholder="Senha">
              </mat-form-field>
              <button mat-raised-button type="submit">Cadastrar</button>
          </form>
               
    </mat-card>
</div>